<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.krajnish.quizomenia" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".Qom.Quantitative.Quiz.RajnishAplication"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".QomMainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Qom.Logical.Quiz.Logical"
            android:label="@string/title_activity_logical" >
        </activity>
        <activity
            android:name=".Qom.Logical.Quiz.Logical_home"
            android:label="@string/title_activity_logical_home" >
        </activity>
        <activity
            android:name=".Qom.English.Quiz.English"
            android:label="@string/title_activity_english" >
        </activity>
        <activity
            android:name=".Qom.English.Quiz.English_home"
            android:label="@string/title_activity_english_home" >
        </activity>
        <activity
            android:name=".Qom.Quantitative.Quiz.Quantitative"
            android:label="@string/title_activity_quantitative" >
        </activity>
        <activity
            android:name=".Qom.Quantitative.Quiz.Quantitative_home"
            android:label="@string/title_activity_quantitative_home" >
        </activity>
        <activity
            android:name=".Qom.Technical.Quiz.Technical"
            android:label="@string/title_activity_technical" >
        </activity>
        <activity
            android:name=".Qom.Technical.Quiz.Technical_home"
            android:label="@string/title_activity_technical_home" >
        </activity>
        <activity
            android:name=".Qom.Human_Resources.Quiz.Humanres"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_humanres" >
        </activity>
        <activity
            android:name=".Qom.Human_Resources.Quiz.Humanres_home"
            android:label="@string/title_activity_humanres_home" >
        </activity>
        <activity
            android:name=".Qom.Quantitative.Quiz.Quantitative_HCF_LCM"
            android:label="@string/title_activity_quantitative__hcf__lcm" >
        </activity>
        <activity
            android:name=".Qom.Quantitative.Quiz.Setting"
            android:label="@string/title_activity_setting" >
        </activity>
        <activity
            android:name=".Qom.Quantitative.Quiz.QuestionActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_question" >
        </activity>
        <activity
            android:name=".Qom.Quantitative.Quiz.EndQuiz"
            android:label="@string/title_activity_end_quiz" >
        </activity>
        <activity
            android:name=".Qom.Logical.Quiz.EndQuiz1"
            android:label="@string/title_activity_end_quiz" >
        </activity>

        <activity
            android:name=".Qom.Quantitative.Quiz.Answers"
            android:label="@string/title_activity_answers" >
        </activity>
        <activity
            android:name=".Qom.Logical.Quiz.Answers1"
            android:label="@string/title_activity_answers" >
        </activity>

        <activity
            android:name=".Qom.Quantitative.Quiz.Quantitative_Pipes_Cisterns"
            android:label="@string/title_activity_quantitative__pipes__cisterns" >
        </activity>
        <activity
            android:name=".Qom.Quantitative.Quiz.Quantitative_Chain_Rule"
            android:label="@string/title_activity_quantitative__chain__rule" >
        </activity>
        <activity
            android:name=".Qom.Quantitative.Quiz.Quantitative_Decimal_Fractions"
            android:label="@string/title_activity_quantitative__decimal__fractions" >
        </activity>
        <activity
            android:name=".Qom.Quantitative.Quiz.Quantitative_Simple_Interest"
            android:label="@string/title_activity_quantitative__square__cube__roots" >
        </activity>
        <activity
            android:name=".Qom.Quantitative.Quiz.Quantitative_Average"
            android:label="@string/title_activity_quantitative__average" >
        </activity>
        <activity
            android:name=".Qom.Quantitative.Quiz.Quantitative_Problem_on_Numbers"
            android:label="@string/title_activity_quantitative__problem_on__numbers" >
        </activity>
        <activity
            android:name=".Qom.Quantitative.Quiz.Quantitative_Problem_on_Ages"
            android:label="@string/title_activity_quantitative__problem_on__ages" >
        </activity>
        <activity
            android:name=".Qom.Quantitative.Quiz.Quantitative_Percentage"
            android:label="@string/title_activity_quantitative__percentage" >
        </activity>
        <activity
            android:name=".Qom.Quantitative.Quiz.Quantitative_Profit_Loss"
            android:label="@string/title_activity_quantitative__profit__loss" >
        </activity>
        <activity
            android:name=".Qom.Quantitative.Quiz.Quantitative_Ratio_Proportion"
            android:label="@string/title_activity_quantitative__ratio__proportion" >
        </activity>
        <activity
            android:name=".Qom.Quantitative.Quiz.Quantitative_Partnership"
            android:label="@string/title_activity_quantitative__partnership" >
        </activity>
        <activity
            android:name=".Qom.Quantitative.Quiz.Quantitative_Time_Work"
            android:label="@string/title_activity_quantitative__time__work" >
        </activity>
        <activity
            android:name=".Qom.Quantitative.Quiz.Quantitative_Time_Distance"
            android:label="@string/title_activity_quantitative__time__distance" >
        </activity>
        <activity
            android:name=".Qom.Quantitative.Quiz.Quantitative_Problem_on_Trains"
            android:label="@string/title_activity_quantitative__problem_on__trains" >
        </activity>
        <activity
            android:name=".Qom.Quantitative.Quiz.Quantitative_Boats_Streams"
            android:label="@string/title_activity_quantitative__boats__streams" >
        </activity>
        <activity
            android:name=".Qom.Quantitative.Quiz.Quantitative_Alligation_Mixture"
            android:label="@string/title_activity_quantitative__alligation__mixture" >
        </activity>
        <activity
            android:name=".Qom.Quantitative.Quiz.Quantitative_Compound_Interest"
            android:label="@string/title_activity_quantitative__simple__compound__interest" >
        </activity>
        <activity
            android:name=".Qom.Quantitative.Quiz.Quantitative_Volume_Surface_Areas"
            android:label="@string/title_activity_quantitative__volume__surface__areas" >
        </activity>
        <activity
            android:name=".Qom.Quantitative.Quiz.Quantitative_Clocks"
            android:label="@string/title_activity_quantitative__calendar__clocks" >
        </activity>
        <activity
            android:name=".Qom.Quantitative.Quiz.Quantitative_Permutations_Combinations"
            android:label="@string/title_activity_quantitative__permutations__combinations" >
        </activity>
        <activity
            android:name=".Qom.Quantitative.Quiz.Quantitative_Probability"
            android:label="@string/title_activity_quantitative__probability" >
        </activity>
        <activity
            android:name=".Qom.Quantitative.Quiz.Quantitative_Height_Distances"
            android:label="@string/title_activity_quantitative__height__distances" >
        </activity>
        <activity
            android:name=".Qom.About_Us.Quiz.About"
            android:label="@string/title_activity_about" >
        </activity>
        <activity
            android:name=".Qom.Technical.Quiz.Technical_C_Language"
            android:label="@string/title_activity_technical__c__language" >
        </activity>
        <activity
            android:name=".Qom.Technical.Quiz.Technical_C_plus_plus"
            android:label="@string/title_activity_technical__c_plus_plus" >
        </activity>
        <activity
            android:name=".Qom.Technical.Quiz.Technical_C_hash"
            android:label="@string/title_activity_technical__c_hash" >
        </activity>
        <activity
            android:name=".Qom.Technical.Quiz.Technical_Java"
            android:label="@string/title_activity_technical__java" >
        </activity>
        <activity
            android:name=".Qom.Technical.Quiz.Technical_Data_Structure"
            android:label="@string/title_activity_technical__data__structure" >
        </activity>
        <activity
            android:name=".Qom.Technical.Quiz.Technical_Dot_Net"
            android:label="@string/title_activity_technical__dot__net" >
        </activity>
        <activity
            android:name=".Qom.Technical.Quiz.Technical_Software_testing"
            android:label="@string/title_activity_technical__software_testing" >
        </activity>
        <activity
            android:name=".Qom.Technical.Quiz.Technical_Networking"
            android:label="@string/title_activity_technical__networking" >
        </activity>
        <activity
            android:name=".Qom.Technical.Quiz.Technical_Operating_System"
            android:label="@string/title_activity_technical__operating__system" >
        </activity>
        <activity
            android:name=".Qom.Technical.Quiz.Technical_Database_Management"
            android:label="@string/title_activity_technical__database__management" >
        </activity>
        <activity
            android:name=".Qom.Technical.Quiz.Technical_Microsoft_SQL"
            android:label="@string/title_activity_technical__microsoft__sql" >
        </activity>
        <activity
            android:name=".Qom.Technical.Quiz.Technical_Unix"
            android:label="@string/title_activity_tecnical__unix" >
        </activity>
        <activity
            android:name=".Qom.Logical.Quiz.Logical_Number_Series"
            android:label="@string/title_activity_logical__number__series" >
        </activity>
        <activity
            android:name=".Qom.Logical.Quiz.Logical_Letters"
            android:label="@string/title_activity_logical__letters" >
        </activity>
        <activity
            android:name=".Qom.Logical.Quiz.Logical_Verbal_Classification"
            android:label="@string/title_activity_logical__verbal__classification" >
        </activity>
        <activity
            android:name=".Qom.Logical.Quiz.Logical_Essential_Part"
            android:label="@string/title_activity_logical__essential__part" >
        </activity>
        <activity
            android:name=".Qom.Logical.Quiz.Logical_Analogies"
            android:label="@string/title_activity_logical__analogies" >
        </activity>
        <activity
            android:name=".Qom.Logical.Quiz.Logical_Artificial_Language"
            android:label="@string/title_activity_logical__artificial__language" >
        </activity>
        <activity
            android:name=".Qom.Logical.Quiz.Logical_Matching_Definitions"
            android:label="@string/title_activity_logical__matching__definitions" >
        </activity>
        <activity
            android:name=".Qom.Logical.Quiz.Logical_Making_Judgments"
            android:label="@string/title_activity_logical__making__judgments" >
        </activity>
        <activity
            android:name=".Qom.Logical.Quiz.Logical_Logical_Problems"
            android:label="@string/title_activity_logical__logical__problems" >
        </activity>
        <activity
            android:name=".Qom.Logical.Quiz.Logical_Analyzing_Arguments"
            android:label="@string/title_activity_logical__analyzing__arguments" >
        </activity>
        <activity
            android:name=".Qom.Logical.Quiz.Logical_Statement_and_Assumption"
            android:label="@string/title_activity_logical__statement_and__assumption" >
        </activity>
        <activity
            android:name=".Qom.Logical.Quiz.Logical_Course_of_Action"
            android:label="@string/title_activity_logical__course_of__action" >
        </activity>
        <activity
            android:name=".Qom.Logical.Quiz.Logical_Statement_and_Conclusion"
            android:label="@string/title_activity_logical__statement_and__conclusion" >
        </activity>
        <activity
            android:name=".Qom.Logical.Quiz.Logical_Course_and_Effect"
            android:label="@string/title_activity_logical__course_and__effect" >
        </activity>
        <activity
            android:name=".Qom.Logical.Quiz.Logical_Statement_and_Argument"
            android:label="@string/title_activity_logical__statement_and__argument" >
        </activity>
        <activity
            android:name=".Qom.Logical.Quiz.Logical_Blood_Relation"
            android:label="@string/title_activity_logical__blood__relation" >
        </activity>
        <activity
            android:name=".Qom.Logical.Quiz.Logical_Sitting_Arrangement"
            android:label="@string/title_activity_logical__sitting__arrangement" >
        </activity>
        <activity
            android:name=".Qom.Logical.Quiz.Logical_Logical_Sequence_of_Words"
            android:label="@string/title_activity_logical__logical__sequence_of__words" >
        </activity>
        <activity
            android:name=".Qom.Logical.Quiz.Logical_Direction_Sense"
            android:label="@string/title_activity_logical__direction__sense" >
        </activity>
        <activity
            android:name=".Qom.Quantitative.Quiz.QOMRules"
            android:label="@string/title_activity_qomrules" >
        </activity>
        <activity
            android:name=".Qom.Human_Resources.Quiz.HumanResourcesQuestion"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_human_resources_question" >
        </activity>
        <activity
            android:name=".Qom.English.Quiz.Antonyms"
            android:label="@string/title_activity_antonyms" >
        </activity>
        <activity
            android:name=".Qom.English.Quiz.Synonyms"
            android:label="@string/title_activity_synonyms" >
        </activity>
        <activity
            android:name=".Qom.English.Quiz.Change_of_speech"
            android:label="@string/title_activity_change_of_speech" >
        </activity>
        <activity
            android:name=".Qom.English.Quiz.Change_of_voice"
            android:label="@string/title_activity_change_of_voice" >
        </activity>
        <activity
            android:name=".Qom.English.Quiz.Correct_Spellings"
            android:label="@string/title_activity_correct__spellings" >
        </activity>
        <activity
            android:name=".Qom.English.Quiz.One_Word_Substitutes"
            android:label="@string/title_activity_one__word__substitutes" >
        </activity>
        <activity
            android:name=".Qom.English.Quiz.Related_Pair_Words"
            android:label="@string/title_activity_related__pair__words" >
        </activity>
        <activity
            android:name=".Qom.English.Quiz.Selecting_Words"
            android:label="@string/title_activity_selecting__words" >
        </activity>
        <activity
            android:name=".Qom.English.Quiz.Sentence_Correction"
            android:label="@string/title_activity_sentence__correction" >
        </activity>
        <activity
            android:name=".Qom.English.Quiz.Sentence_Improvement"
            android:label="@string/title_activity_sentence__improvement" >
        </activity>
        <activity
            android:name=".Qom.English.Quiz.Spotting_Errors"
            android:label="@string/title_activity_spotting__errors" >
        </activity>
        <activity
            android:name=".Qom.Human_Resources.Quiz.HRGeneralQuestion"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_hrgeneral_question" >
        </activity>
        <activity
            android:name=".Qom.Logical.Quiz.QuestionActivity1"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_question" >
        </activity>
        <activity
            android:name=".Qom.Logical.Quiz.Question1"
            android:label="@string/title_activity_question1" >
        </activity>
    </application>

</manifest>
